*{
	margin: auto;
	font-family: "Times New Roman", Times, serif;
}

#container {

}

section {
	padding: 50px 0;
}

section .content {
	width: 1100px;
}

section a {
	text-decoration: none;
	color: #ff5483;
}

section a:hover {
	text-decoration: underline;
}

#menu {
	padding: 15px 0;
	width: 100%;
	position: fixed;
	font-size: 20px;
	font: bold;
}

#menu ul {
	list-style: none;
	padding: 5px;
}

#menu ul li {
	display: inline;
	margin: 0 10px 0 0;
}

#menu ul li a {
	text-decoration: none;
}
#menu ul li a:hover {
	color: black;
}

#section1 {
	background-image: url(kopi.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	min-height: 502px;
	padding-top: 150px;
	width: 100%;  
}

#section2 .left {
	width: 365px;
}

#section1 {
	text-align: right;
}

#section2, #section3{
	text-align: center;
}

h1 {
	font-size: 30pt;
  	text-shadow: 3px 2px red;
}

h2 {
	font-size: 25pt;
}

h3 {
	font-size: 17pt;
}

h1, h2, h3 {
	font-weight: normal;
}

p {
	margin: 15px 0;
	font-size: 16pt;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.btn {
	text-decoration: none !important;
	border-radius: 5px;
	padding: 6px 12px;
}

.btn-white {
	background-color: white;
	color: gray;
}

.btn-white:hover {
	background-color: #e6e6e6;
}

.btn-pink {
	background-color: #ff5483;
	color: white;
}

.btn-pink:hover {
	background-color: #ff326a;
}

.no-sticky {
	position: absolute;
}

.sticky {
	background-color: black;
	position: fixed;
}

.sticky ul li a {
	color: slateblue !important;
}

.sticky ul li a:hover {
	color: white !important;
}

.navy {
	background-color: #2d3e50;
	color: white;
}

.white {
	background-color: white;
}

.gray {
	background-color: #f0f0f0; 
}

.white .gray, #menu ul li a, h2, h3 {
	color: mediumseagreen;
}


.panel {
 	height: 34px;
    padding: 0px;
}
.panel a#login_pop, .panel a#join_pop {
    border: 2px solid #aaa;
    color: #fff;
    display: block;
    float: right;
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px #000;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
a#login_pop:hover, a#join_pop:hover {
    border-color: #eee;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.close {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: rgba(64, 128, 128, 0.8);
}
.popup p, .popup div {
    margin-bottom: 10px;
}
.popup label {
    display: inline-block;
    text-align: left;
    width: 120px;
}
.popup input[type="text"], .popup input[type="password"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    margin: 0;
    padding: 2px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.popup input[type="text"]:hover, .popup input[type="password"]:hover {
    border-color: #555 #888 #888;
}