*{
    font-family: 'Open Sans', sans-serif;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.3333333%;
}

.col-6{
    width: 50%;
}

.col-8{
    width: 66.6666667%;
}

.col-12{
    width: 100%;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

[class*='col-'] {
    padding-right: 20px;
    float: left;
}


[class*='col-']:last-of-type{
    padding-right: 0;
}

[class*='col-']:first-of-type{
    padding-left: 0;
}

#menu-icon{
    display: none;
    font-size: 35px;
    margin: 0;
}

.up {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 75px 50px 0 50px;
    border-color: #459E4E transparent transparent transparent;
}

.up h2 {
    color: #f2f2f2;
    font-weight: bold !important;
    text-align: center;
    top: -65px;
    left: -45px;
    position: relative;
    width: 93px;
    height: 93px;
    margin: 0px;
}

header{
    background-color: #3b8b26;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: 2px 2px 10px #4CAF50;
    z-index: 1000;
}

header, #apaitu span{
    color: #f2f2f2;
}

#apaitu span{
    margin-bottom: 80px;
}

nav img{
    max-height: 64px;
}

nav a:nth-last-of-type(1),
nav a:nth-last-of-type(2){
    float: right;
    background-color: #f2f2f2;
    color: #4CAF50;
    font-weight: bold;
}

nav a:nth-last-of-type(1):hover,
nav a:nth-last-of-type(2):hover{
    background-color: #4CAF50;
    color: #f2f2f2;
}

nav a{
    transition: 550ms ease;
    float: left;
    color: #f2f2f2;
    text-align: center;
    margin: 20px 15px;
    padding: 0px 29px;
    border-radius: 100px;
    text-decoration: none;
    font-size: 16px;
}

nav a img{
    margin-top: 7px;
}

nav a:not(.logo){
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a:not(.logo):hover{
    transition: 500ms ease;
    background-color: #4CAF50;
}

nav a.active {
    background-color: #4CAF50;
    color: white;
}

#header-dalam{
    margin: 0 auto;
    max-width: 1200px;
    height: 60px;
}

h1#judul{
    font-size: 40pt;
}

.hijau{
    color: #3b8b26;
}

.background-hijau{
    background-color: #3b8b26;
    color: #f2f2f2;
}

.background-hijau-muda{
    background-color: #4CAF50;
    color: #f2f2f2;
}

.background-putih{
    background-color: #f2f2f2;
    color: #4CAF50;
}

section{
    max-width: 1200px;
    margin: 0 auto;
}

#background-apaitu {
    /*background-color: #459E4E;*/
    background-size: cover;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(../img/kopi.jpg);
}

#background-pengentri{
    background-color: #f2f2f2;
}

#background-tiga-m,
#background-pemantau,
#background-mobile{
    background-color: #e2e2e2;
}

#background-daftar,
#background-tim-dev{
    background-color: #3b8b26;
}

#background-testi{
    background-color: #4CAF50;
}

#background-footer{
    background-color: #0d7600;
}

.img-tiga-m{
    width: 40%;
}

.img-tiga-m.terakhir{
    width: 37.4%;
}

.img-pengguna-judul{
    width: 40%;
}

.img-pengguna{
    width: 25%;
}

#pengentri-sm,
#pemantau-sm{
    display: none;
}

section span{
    color: black;
    width: 100%;
    display: inline-block;
    margin: 20px 0;
    padding: 0 20px;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
}

section h1, section h2{
    margin: 0;
}

section#apaitu{
    margin-top: -100px;
}

section#apaitu img{
    height: 450px;
}

section#tiga-m h1{
    margin-bottom: 20px;
    font-weight: normal;
}

section#pengentri section{
    line-height: 500px;
}

section#pemantau section{
    line-height: 582.438px;
}

section#pengentri section h1,
section#pemantau section h1{
    margin-bottom: 20px;
}

section#testi span{
    margin: 40px 0;
}

section#testi img{
    width: 70px;
    height: 70px;
}

section#testi span > h1 {
    font-size: 30pt;
    color: #f2f2f2;
    text-align: left;
    margin-bottom: 20px;
}

section#testi h2{
    color: #0d7600;
    font-size: 24pt;
}

section#testi h3{
    padding: 0;
    margin: 10px;
}

section#testi .card{
    border-radius: 5px;
    height: 520px;
}

section#testi .card p{
    text-align: justify;
    font-style: italic;
    height: 150px;
    line-height: 150px;
}

section#testi .card p span{
    line-height: normal;
    color: #3b8b26;
}

.fa-star{
    margin-bottom: 15px;
}

.fa-star.notchecked{
    color: #282828;
}

section#daftar span{
    text-align: left;
    color: #f2f2f2;
}

section#daftar span .col-6:first-of-type h1{
    font-size: 30pt;
}

section#daftar span p{
    font-size: 16pt;
}

section#daftar #daftar-pemantau{
    display: none;
}

section#mobile span{
    margin-bottom: 40px;
}

section#mobile span h1{
    margin-bottom: 20px;
}

section#mobile a{
    color: black;
}

section#mobile .card i{
    color: #f2f2f2;
}

section#mobile span i{
    font-size: 30pt;
}

section#tim-dev span{
    color: #f2f2f2;
}

section#tim-dev h1{
    margin-bottom: 20px;
}

section#tim-dev i{
    font-size: 25pt;
}

section#tim-dev h4{
    margin: 10px;
}

section#tim-dev img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
}

section#footer span{
    margin: 20px 0;
    color: #f2f2f2;
}

section#footer h2{
    font-weight: normal;
}

section#footer i{
    margin-top: 20px;
    padding: 0 20px;
    font-size: 35pt;
}

a{
    text-decoration: none;
    color: #f2f2f2;
}

.card {
    box-shadow: 0 10px 20px 0 rgba(0,100,0,0.5);
    height: fit-content;
}

.card-container {
    padding: 20px 20px;
}

input[type=text] {
    width: 80%;
    height: 60px;
    font-size: 14pt;
    border: none;
    border-radius: 10px;
    padding: 20px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

input[type=password] {
    width: 80%;
    height: 60px;
    font-size: 14pt;
    border: none;
    border-radius: 10px;
    padding: 20px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

#toTop{
    position: fixed;
    border-radius: 50px;
    width: 2em;
    height: 2em;
    padding: 0;
    bottom: 0;
    right: 10px;
    font-size: 2em;
    background-color: #4caf50;
    color: #f2f2f2;
    box-shadow: 0 0 40px 0 rgba(0,100,0,0.5);
    display: none;
}

.btn-daftar {
    position: relative;
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
    font-size: 14pt;
    color: #3b8b26;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    font-weight: bolder;
    object-position: center;
    width: 50%;
    margin: 20px auto;
    display: block;
}

.btn-daftar.sm{
    width: 90%;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1200;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 75%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header,
.modal-body,
.modal-content{
    padding: 2px 16px;
    background-color: #4CAF50;
    color: #f2f2f2;
}

.modal-body input{
    width: 100%;
}

.modal-footer h3{
    margin: 0;
}

@media (max-width: 992px){
    .col-12-lg{
        width: 100%;
        padding: 0;
    }

    .col-6-lg{
        width: 50%;
    }

    .modal-content{
        width: 90%;
    }

    .modal-content .btn-daftar.sm,
    .modal-content input{
        font-size: 12pt;
    }

    #menu-icon{
        display: block;
        float: right;
        background: none;
    }

    nav.responsive #menu-icon{
        position: absolute;
        right: 0;
        top: 0;
        font-size: 30px;
    }

    nav a{
        display: none;
    }

    nav.responsive a {
        color: #f2f2f2;
        float: none;
        font-weight: normal;
        margin: 0;
    }

    .responsive a:not(.logo) {
        float: none;
        display: block;
        text-align: center;
        background-color: #0d7600;
        border-radius: 0;
        padding: 10px;
        margin: -5px;
    }

    section#apaitu{
        margin-top: 100px;
    }

    section#apaitu img{
        margin-top: 50px;
        width: 50%;
        height: auto;
    }

    section#testi .col-12-lg{
        padding: 0px 20px 20px 20px;
    }

    section#testi span,
    section#daftar span{
        padding: 0 20px;
    }
}

@media (max-width: 768px){
    .col-12-md{
        width: 100%;
        padding: 0;
    }

    .modal-content .btn-daftar.sm,
    .modal-content input{
        font-size: 12pt;
    }

    section#apaitu h1{
        font-size: 30pt;
    }

    section#apaitu h2{
        font-size: 16pt;
    }

    section#tiga-m h1{
        font-size: 20pt;
    }

    section#tiga-m p{
        font-size: 12pt;
    }

    section#tim-dev h2{
        font-size: 16pt;
    }

    section#tim-dev h4{
        font-size: 12pt;
    }
}

@media (max-width: 576px){
    .modal-content .btn-daftar.sm,
    .modal-content input{
        font-size: 10pt;
    }

    .col-12-sm{
        width: 100%;
        padding: 0;
    }

    #pengentri-lg,
    #pemantau-lg{
        display: none;
    }

    #pengentri-sm,
    #pemantau-sm{
        display: block;
    }

    section#pengentri section,
    section#pemantau section{
        line-height: normal;
    }

    .img-pengguna-judul{
        width: 50%;
    }

    .img-pengguna{
        width: auto;
        height: 100px;
    }

    section#pemantau .col-6{
        padding: 0;
    }

    section#daftar .btn-daftar,
    section#daftar input{
        width: 100%;
    }

    section#mobile span{
        padding: 0 20px;
    }

    section#mobile h1{
        font-size: 20pt;
    }

    section#mobile .card{
        margin-bottom: 20px;
    }

    section#tim-dev .col-12-sm:not(:last-of-type){
        margin-bottom: 20px;
    }
}

@media (max-width: 485px) {
    .col-12-xs{
        width: 100%;
        padding: 0;
    }

    .btn-daftar.sm{
        margin: 10px auto;
    }

    .btn-daftar, input{
        width: 100%;
        font-size: 14pt;
    }

    .img-pengguna{
        transform: translateX(-8px);
    }

    section#apaitu h1{
        font-size: 20pt;
    }

    section#apaitu h2{
        font-size: 14pt;
        font-weight: normal;
    }

    section#apaitu img{
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    section#footer h2{
        font-size: 14pt;
    }

    section#footer h3{
        font-size: 12pt;
    }

    section#footer i{
        font-size: 30pt;
    }
}